body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(80, 80, 80);
}

.jumbotron {
  text-align: center;
  background-color: f3efec;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

/* Day selector buttons */
.btn {
  margin: 15px auto;
}

/* Card for schedule */
.planner-block {
  width: 80%;
  background-color: #f3efec;
  margin: 40px auto;
  padding: 0;
}

.planner-block table {
  width: 100%;
  text-align: center;
}

tr {
  height: 3rem;
}

th {
  font-size: 1.3rem;
}
td {
  padding: 25px;
  border-top: 3px solid #f3efec;
}

td.c-time {
  min-width: 100px;
}

td.c-agenda {
  width: 80%;
  min-width: 40%;
  background-color: gray;
  text-align: left;
}
.agenda-input {
  width: 100%;
  border: 0;
  padding: 5px;
  line-height: 1.4rem;
}

/* When user is typing input and it is unsaved */
.agenda-input.editing {
  border: 2px solid rgb(149, 173, 238);
  outline: thin;
}

/* Time color indicators */
td.past {
  background-color: gray;
}

td.present {
  background-color: rgb(221, 62, 62);
}

td.future {
  background-color: rgb(76, 145, 76);
}

/* save icon */
td.c-save {
  background-color: lightskyblue;
  color: rgb(56, 56, 59);
  cursor: pointer;
}

td.c-save:hover {
  background-color: lightskyblue;
  color: rgb(104, 104, 107);
}

/* Makes the schedule look pretty decent on mobile */
@media (max-width: 600px) {
  .planner-block {
    width: 100%;
  }
  td.c-time {
    min-width: 20px;
  }
  td {
    padding: 15px;
  }
}
